body {
    height: 100vh;
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header1 h1 {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    width: 257px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 73px;
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
    font-family: 'Recursive', sans-serif;
}

.header2 {
    position: fixed;
    top: 19px;
    left: calc(50% - 150px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FB6B6B;
    width: 300px;
    z-index: 2px;
}

.header2 h1 {
    width: 203px;
    height: 44px;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
}

.header2 img {
    width: 52px; 
}

.root .cards {
    margin-top:50px;
    max-height: 400px;
    overflow-y: auto;
}

.root .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
}

.root .question p {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-left: 6px;
}

.root .question ion-icon {
    font-size: 25px;
    padding-right: 12px;
}

.root .questionsOpened {
    position: relative;
    width: 300px;
    min-height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
  
}

.root .questionsOpened p {
    padding: 13px 0 45px 6px;
    font-family: 'Recursive';
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    max-width: 270px;
}

.root .questionsOpened img {
    position: absolute;
    right: 8px;
    bottom: 7px;
}

.answers {
    position: absolute;
    bottom: 6px;
    left: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 281px;
}

.answers div {
    width: 85px;
    height: 37px;
    font-family: 'Recursive';
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}

.answers .red {
    background-color: #FF3030;
}

.answers .green {
    background-color: #2FBE34;
}

.answers .yellow {
    background-color: #FF922E;
}

.question.answered {
    font-weight: 400;
    text-decoration: line-through;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Recursive', sans-serif;
    color: #333333;
    min-width: 97px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 8px;
}

footer ion-icon {
    font-size: 25px;
}

footer.footerFinal {
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
}

footer.footerFinal h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Recursive', sans-serif;
    color: #333333;
    padding: 0 0 5px 4px;
}

footer.footerFinal div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3px;
}

.red {
    color: #FF3030;
}

.green {
    color: #2FBE34;
}

.yellow {
    color: #FF922E;
}


