body {
    height: 100vh;
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header1 h1 {
    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.012em;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    width: 152px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 73px;
    width: 141px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #D70900;
    font-family: 'Recursive', sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header2 {
    position: fixed;
    top: 19px;
    left: calc(50vw - 64px);
    display: flex;
    flex-direction: row;
}

.header2 h1 {
    width: 101.59px;
    height: 22px;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    line-height: 25px;
}

.header2 img {
    width: 26px; 
}

.root .cards {
    max-height: 400px;
    overflow-y: auto;
}

.root .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 5px;
}

.root .question p {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    padding-left: 6px;
}

.root .question ion-icon {
    font-size: 20px;
    padding-right: 12px;
}

.root .questionsOpened {
    position: relative;
    width: 182px;
    min-height: 80px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 5px;
  
}

.root .questionsOpened p {
    padding: 13px 0 30px 6px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    width: 173px;
}

.root .questionsOpened img {
    position: absolute;
    right: 8px;
    bottom: 7px;
}

.verse {
    transform: rotateY(180deg);
}

.answers {
    position: absolute;
    bottom: 3px;
    left: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 176px;
}

.answers div {
    width: 55px;
    height: 24px;
    font-family: 'Recursive';
    font-size: 7px;
    line-height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}

.answers .red {
    background-color: #FF3030;
}

.answers .green {
    background-color: #2FBE34;
}

.answers .yellow {
    background-color: #FF922E;
}

.question.answered {
    font-weight: 400;
    text-decoration: line-through;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Recursive', sans-serif;
    color: #333333;
    min-width: 97px;
    height: 14px;
}

.footer1 ion-icon {
    font-size: 20px;
}

footer.footerFinal {
    height: 112px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
}

footer.footerFinal h6 {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Recursive', sans-serif;
    color: #333333;
    padding-left: 4px;
}

footer.footerFinal div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3px;
}

.red {
    color: #FF3030;
}

.green {
    color: #2FBE34;
}

.yellow {
    color: #FF922E;
}

.hidden {
    display: none;
}

